@using Ispit_2017_09_11_DotnetCore.VM;
@{
    ViewData["Title"] = "Dodaj";
}
@model AjaxOdjeljenjeDodaj

<h2>Dodaj</h2>

<form asp-action="Snimi" asp-controller="AjaxTest" method="post">
    <input type="hidden" asp-for="OdjeljenjeID" name="OdjeljenjeID" />
    <input type="hidden" asp-for="OdjeljenjeStavkaId" name="OdjeljenjeStavkaId" />
    <div class="form-row">
        <label asp-for="ucenici">Ucenik : </label>
        <select class="form-control" asp-for="UcenikId" asp-items="@Model.ucenici"></select>
    </div>
    <div class="form-row">
        <label asp-for="BrojUDnevniku">Broj u denvniku : </label>
        <input class="form-control" asp-for="BrojUDnevniku" />
    </div>
    <br />
    <input class="btn btn-primary" type="submit" name="name" value="Snimi" />
</form>
